

.container{
  /* background: #d87654; */
  margin: 0;
  padding: 0;
}
.container-t{
  background-color: #fff;
}
.container-t .item-row{
  margin-top: 5px;
  /* background-color: aquamarine; */
}
.container-t input{
  margin: 0;
  width: 100%;
}


.container-con{
  background: #ccc;
}
table.table-list{
  width: 100%;
  background-color: rgb(150, 151, 136);
  border: 1px solid #ccc;
  
}
table.table-list tr {
  width: 100%;
  height: 30px;

}